*{
    box-sizing: border-box;
}

.container{
    /* parent properties */ 
    height: 400px;
    display: flex;

    /* children properties */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.item{
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 25%;
    padding: 6px;
}

.box2{
    width: 50%;
}

.box5{
    width: 75%;
}

.item.box5{
    /*parent properties*/
    display: flex;

    /*children properties*/
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;

}

.div{
    height: 20%;
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: azure;
    padding: 6px;
}

.first{
    background-color: rgb(255, 235, 205);
}

.second{
    background-color: rgb(203, 203, 243);
}

.third{
    background-color: rgb(160, 160, 236);
}

.fourth{
    background-color: rgb(123, 123, 238);
}

.fifth{
    background-color: rgb(86, 86, 236);
}


.heading{
    text-align: center;
    font-style: italic;
}

h1.heading{
    font-style: oblique;
}

.subheading{
    text-align: center;
    font-style: italic;
    color: green;
}

.paragraph{
    font-size: 14px;
    font-family: sans-serif;
}

.par{
    font-size: 18px;
    font-family: sans-serif;
}

.image{
    width: 100%;
}

.footer{
    background-color: rgb(1, 1, 14);
    height: 160px;
    border-radius: 15px;
}

.foot{
    color: white;
    text-align: center;
}

.navigation{
    text-align: right;
    background-color: rgb(255, 235, 205);
    border-radius: 15px;
    border-color: rgb(203, 203, 243);
    border-style: solid;
    border-width: thick;
    height: 50px;
}

.page-header{
    background-color: rgb(86, 86, 236);
    height: 130px;
    border-radius: 15px;
}

.link{
    font-family: sans-serif;
}

.trending{
    background-color:  rgb(123, 123, 247);
    border-radius: 20px;
}

.one{
    background-color: rgb(67, 67, 243);
    color: white;
    padding: 50px;
    margin: 0 200px 0 200px;
    border-radius: 20px;
}